[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bossR"]
	path = bossR
	url = https://github.com/cran/bossR
[submodule "glmpermu"]
	path = glmpermu
	url = https://github.com/cran/glmpermu
[submodule "iimi"]
	path = iimi
	url = https://github.com/cran/iimi
[submodule "scAnnotate"]
	path = scAnnotate
	url = https://github.com/cran/scAnnotate
